body {
	background: linear-gradient(60deg, #009FCF, #088FD0, #137BD1, #2265D3, #4032D7);
	background-size: 400% 400%;
	-webkit-animation: gradient 5s ease infinite;
	        animation: gradient 5s ease infinite;
	height: 100vh;
	    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

a {
	color: white;
	text-decoration: none; /* no underline */
  }

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	height: 10vh;
 }

.logo {
	margin-bottom: 15vh;
}

.left, .right {
	display:inline-block;
	padding: 10px;    
	font-size: 16px;
 
}


@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}